# 这是 git 的忽略文件，将那些不需要跟踪的文件模式列在下面。
# 每行一个模式，目录后面加斜杠。默认情况下，对所有子目录起作用。井号开始的注释改行。
# 特别是编译系统自动生成的文件或目录一定要忽略掉。
# 子目录也可以使用该文件，子目录忽略格式与上层目录忽略模式合并，并且子目录优先级高于上层目录。
# 下面只是部分忽略类型。你可以增加自己的忽略文件（如果要忽略某个特定文件，直接写该文件名）
# 更多详细信息，可以参考 Git 手册，或命令行输入： git help ignore 查看帮助。
*.bak
~*.doc
~*.docx
~*.tmp
*.bak
*.rar
*.zip
*.jar
*.pch
*.ipch
*.class
*.exe
*.obj
*.dll
*.o
*.diagsession
[dD]ebug/
bin/
obj/
lib/
build/
.vs/
